@import "../../Components/Sidebar/sidebar.scss";
@import "../HomeScreen/app.scss";
@import "../../index.scss";

.toggleScreen {
  position: fixed;
  top: 10vh;
  height: 100vh;
  overflow-y: scroll;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 99999999;
  display: grid;
  grid-template-columns: 1fr 3fr;
  transition: .5s ease-in;
  //   opacity: .8;


  .leftToggle {
    opacity: 1;
    z-index: 99;
    background-color: $black-primary;
  }
  .rightToggle {
    opacity: 0.8;
    background-color: $black-primary;
  }
  .sidebar {
    .home-ul {
      background-color: $black-primary;
      padding: unset;
      padding-inline: .5rem;
      gap: 20px;
      height: max-content;
      padding-block: .5rem;
      border-bottom: 1px $textColor solid;
      
      li {
        display: flex;
        flex-direction: row;
        justify-content: unset;
        font-size: 1.1rem;
        padding: 10px;
      }
    }
  }
}

@media(max-width: $breakpoint-md){
  .toggleScreen{
    .sidebar{
      display: unset;
      ul{
        li{
          span{
            display: none;
          }
        }
      }
  }
  }
}