@import "../../index.scss";

.login {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: $textColor;
  color: $black-primary;
  padding-inline: 1rem;
  border-radius: 4px;
  font-weight: 600;
  height: 40px;
  button {
    color: $black-primary;
    font-weight: 600;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  right: 100%;
  z-index: 99999999999;
  background-color: $black-primary;
  font-size: 1.1rem;
  width: max-content;
  height: max-content;
  padding: 0.5rem;
  font-weight: 700;

  &_main {
    display: flex;
    gap: 20px;
    cursor: text;

    div{
      display: flex;
      flex-direction: column;
      gap: 3px;

      .email{
        opacity: .8;
        font-size: .8rem;
      }
    }
  }

  &_settings {
    div {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: $textColor;
        color: $black-primary;
      }
    }
  }
}
