@import "../../index.scss";

.login {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $black-primary;
  padding-inline: 1rem;
  border-radius: 4px;
  font-weight: 600;
  height: 40px;

  button {
    font-weight: 600;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  right: 100%;
  z-index: 99999999999;
  // background-color: $black-primary;
  font-size: 1.1rem;
  width: max-content;
  height: max-content;
  padding: 0.5rem;
  font-weight: 700;

  &_main {
    display: flex;
    gap: 20px;
    cursor: text;

    div {
      display: flex;
      flex-direction: column;
      gap: 3px;

      .email {
        opacity: 0.8;
        font-size: 0.8rem;
      }
    }
  }

  &_settings {
    div {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: $textColor;
        color: $black-primary;
      }
    }
  }
}

.profile {
  .appearance {
    display: flex;
    align-items: center;
    justify-content: space-around;
    // gap: 20px;
    padding-inline: 1rem;
  }

  .select-theme {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .light-dark {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .ld {
        display: flex;
        justify-content: space-around;
        // gap: 20px;
        align-items: center;
        padding: 0.5rem;
        padding-inline: 1rem;

        span {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    .desc {
      opacity: 0.8;
      font-size: 0.8rem;
    }
  }
}

.threeDots {
  position: absolute;
  right: 100%;
  top: 10px;
  width: max-content;
  z-index: 99999;
  padding: 1rem;
  border: 1px $black-primary solid;
  border-radius: 3px;
}

.myProfile {
  display: flex;
  gap: 20px;
  align-items: center;

  &_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .fullName {
      display: flex;
      align-items: center;
      gap: 5px;

      input {
        border: 1px solid;
        padding-inline: 1rem;
      }

      button{
        background-color: #3ea6ff;
        padding: .5rem;
        border-radius: 4px;

        &:hover{
          opacity: .9;
        }
      }
      

      span{
        opacity: .8;
        font-style: italic;
      }
      label{
        font-weight: 600;
        cursor: text;
      }
      .edit{
        cursor: pointer;
      }
    }

  }

  &_changeImg {
    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }
  }
}
