@import '../../index.scss';

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  button {
    border: none;
    outline: none;
    height: 40px;
    padding-inline: 1rem;
    border-radius: 4px;
    background-color: $textColor;
    color: $black-primary;
    font-weight: 600;

  }
}

.profile{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  right: 100%;
  z-index: 99999999999;
  background-color: $black-primary;
  font-size: 1.1rem;
  width: max-content;
  height: max-content;
  padding: .5rem;
  font-weight: 700;

  &_main{
    display: flex;
    gap: 20px;
    cursor: text;
  }

  &_settings{
    div{
      display: flex;
      align-items: center;
      gap: 20px;
      padding: .5rem;
      cursor: pointer;

      &:hover{
        background-color: $textColor;
        color: $black-primary;
      }
    }
  }
}