@import "../../../index.scss";

.all-comments {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .number-comments {
    font-weight: 600;
  }
  .comment_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    cursor: pointer;
  }

  .firstComment {
    cursor: pointer;
    display: flex;
    gap: 10px;
    padding: 0.5rem;

    .span-comment {
      @include margin-clamp(1, 0.7rem);
    }

    .border-comments {
      border: 1px solid;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      gap: 10px;

      .firstChild {
        font-weight: 700;
        border-right: 2px solid;
        padding-right: 0.5rem;
      }
    }
    .arrows {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
.comments {
  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  display: flex;
  gap: 10px;

  &_profile {
    display: flex;
    flex-direction: column;
    gap: 1px;

    &_details {
      display: flex;
      gap: 3px;
      &_second {
        opacity: 0.8;
        font-size: 0.8rem;
      }
      &_first {
        font-weight: 700;
        font-size: 1.1rem;
      }
    }
  }
}

.create-comment {
  input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid;

    &:focus {
      border-bottom: 2px solid;
      transition: 200ms ease-out;
    }
  }
  .add-buttons {
    display: flex;
    justify-content: flex-end;
    padding-inline: 0.5rem;
    margin-top: 5px;

    button {
      font-size: 1.2rem;
      text-transform: uppercase;
      padding-block: 1.5rem;
      padding-inline: 1rem;
      border-radius: 5px;
    }
    .add-comment-btn {
      cursor: unset;
    }
    .black-bg {
      background-color: rgb(71, 70, 70);
      color: $textColor;
    }
    .blue-bg {
      background-color: #3ea6ff;
      color: white;
      cursor: pointer;
    }
  }
}
