@import "../../index.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-inline: 1rem;
  padding-block: 0px;
  height: 10vh;
  z-index: 9999999999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .signInUp{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .dots{
    position: relative;
  }

  &_logo {
    width: max-content;
    height: max-content;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &_left,
  &_icons {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    flex: 0.2;
  }
  &_icons {
    justify-content: space-between;
    padding-inline: 1.2rem;
  }
  &_relative {
    position: relative;
  }

  form {
    flex: 0.6;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1.2px solid;
    height: 7vh;
    padding-inline: 0.5rem;

    input {
      height: 100%;
      flex: 0.8;
      border: none;
      outline: none;
      background-color: transparent;
      padding-left: 1.2rem;
    }

    button {
      height: 100%;
      flex: 0.2;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border-radius: 5px;
      border: none;
    }
    .secondary-button {
      display: none;
    }
  }
}
.arrow-back {
  cursor: pointer;
}



@media (max-width: $breakpoint-small) {
  .header {
    form {
      flex: 0.5;
      z-index: 1;
      border: none;
      background-color: transparent;

      input:not(.small-input) {
        display: none;
      }

      button {
        flex: 1;
        border: none;
        outline: none;
        background-color: transparent;
      }
      .main-button {
        display: none;
      }
      .secondary-button {
        display: unset;
      }

      .small_search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999999999999999999999999999999;
        height: 10vh;
        padding-inline: 1rem;

        button {
          width: max-content;
          height: max-content;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    &_icons {
      padding-inline: unset;
    }

    
  }
}
