.subscriptions {
  display: flex;
  align-items: center;
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 50%;
      border: 1px solid;
    }
  }
  &_details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 0.2rem;

    .total{
        display: flex;
        align-items: center;
        gap: 10px;
    }
  }
}

@media (max-width: 575px) {
  .subscriptions {
    gap: 10px;

    &_details {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
