@import '../../index.scss';

.youtube{
    position: relative;
}
.app_container{
    display: grid;
    grid-template-columns: 1fr 10fr;
    height: max-content;
    gap: 10px;
    margin-top: 12vh;
    padding-inline: .5rem;
}
.home_screen{
    position: relative;
    margin-top: 14vh;
}


@media(max-width: $breakpoint-md){
    .app_container{
        grid-template-columns: 1fr;
    }
}