@import "../../index.scss";

.youtube {
  position: relative;
}

.app_container {
  display: grid;
  grid-template-columns: 1fr 10fr;
  height: max-content;
  margin-top: 10vh;
  gap: 10px;
  margin-top: 12vh;
  padding-inline: 0.5rem;
}
.home_screen {
  position: relative;
  
  .categories_absolute {
    position: fixed;
    width: 100%;
    top: 10vh;
    // left: 0;
    // right: 0;
    z-index: 999;
    background-color: $black-primary;
  }
  .cards{
    margin-top: 10vh;
  }
}

@media (max-width: $breakpoint-md) {
  .app_container {
    grid-template-columns: 1fr;
  }
}

// @media (min-width: $breakpoint-small) {
//     .categories_absolute{
//         padding-right: 15vh;
//       }
// }

// @media (min-width: $breakpoint-md) {
//     .categories_absolute{
//         padding-right: 30vh;
//       }
// }