.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  gap: 20px;
  

  button{
    background-color: chocolate;
    padding-block: .5rem;
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }

  .have-account{
    display: flex;
    align-items: center;
    gap: 10px;

    span{
        font-size: .8rem;
    }
  }
}
